<section id="imprint" class="cd-popup" ng-class="{'is-visible': imprint.navInfo.imprint}">
    <a class="cd-popup-close" ng-click="imprint.closeImprint()">Close</a>
    <h2>Impressum</h2>
    <div class="container cd-popup-container">
        <!-- Column 1 -->
        <div class="column">
            <p class="address">Forschergruppe TestReal<br />
            Bauhaus-Universität Weimar<br />
            Coudraystaße 7<br />
            99423 Weimar<br />
            <br />
            <a href="http://www.testreal.org" target="_blank" title="">www.testreal.org</a>
            </p>
        </div>
        <!-- Column 2 -->
        <div class="column">
            <img src="assets/images/test-real.svg" alt="Test Real" />
            <img src="assets/images/bauhaus-universitat-weimar.svg" alt="Bauhaus Universität Weimar" />
            <img src="assets/images/esf.svg" alt="ESF" />
        </div>
        <!-- Column 3 -->
        <div class="column last">
            <h5>Projektbearbeitung</h5>
            <ul>
                <li>Dr.-Ing. Dirk Daube, <span class="it">Bauwirtschaftsingenieur</span></li>
                <li>Dipl.-Des. Christopher Doering, <span class="it">Designer</span></li>
                <li>Dr. Manfred Hanfler, <span class="it">Stadtplaner</span></li>
                <li>Dipl.-Ing. Thomas Haupt, <span class="it">Bauingenieur</span></li>
                <li>Dipl.-Ing. Anton Ivanov, <span class="it">Bauingenieur</span></li>
                <li>Dipl.-Ing. Gerd Kiesel, <span class="it">Stadtplaner und Energieberater</span></li>
                <li>Dr. Stefan Knetsch, <span class="it">Geograph</span></li>
                <li>B. Eng. Lisa Köster, <span class="it">Ingenieurin für Geoinformation und Kommunaltechnik</span></li>
                <li>Dipl.-Wirtsch.-Ing. Andrea Lück, <span class="it">Wirtschaftsingenieurin</span></li>
                <li>M.Sc. Tonia Annick Schmitz, <span class="it">Umwelt- und Biomechatronik-Ingenieurin</span></li>
            </ul>
            <h5>Projektbegleitung</h5>
            <ul>
                <li>M.Sc. Daniela Trümer, <span class="it">Umweltingenieurin</span></li>
                <li>Prof. Dr.-Ing. Eckhard Kraft, <span class="it">Professur Biotechnologie in der Ressourcenwirtschaft</span></li>
                <li>Prof. Dr.-Ing. Jörg Londong, <span class="it">Professur Siedlungswasserwirtschaft</span></li>
                <li>Prof. Dr.-Ing. Dipl.-Wirtsch.-Ing. Hans Wilhelm Alfen, <span class="it">Professur Betriebswirtschaftlehre im Bauwesen</span></li>
                <li>Prof. Wolfgang Sattler, <span class="it">Professur Interaction Design</span></li>
                <li>Prof. Dr. Mark Jentsch, <span class="it">Juniorprofessur Urban Energy Systems</span></li>
            </ul>
            <h5>Beirat</h5>
            <ul>
                <li>Jörn Otto (Beiratssprecher), <span class="it">Stadtwerke Weimar Stadtversorgungs-GmbH</span></li>
                <li>Dr. Ulrich Palzer, <span class="it">IAB - Institut für Angewandte Bauforschung Weimar gGmbH</span></li>
                <li>Michael Müller, <span class="it">Energieversorgung Apolda GmbH</span></li>
                <li>Winfried Schöffel, <span class="it">ENVISYS GmbH & Co. KG</span></li>
                <li>Dr. Kersten Roselt, <span class="it">JENA-GEOS Ingenieurbüro GmbH</span></li>
                <li>Carola Westphalen, <span class="it">KNOTEN WEIMAR Internationale Transferstelle Umwelttechnologien GmbH</span></li>
                <li>Dr. Fred Grunert, <span class="it">MAZeT GmbH</span></li>
                <li>Helmut Suske, <span class="it">SWE Energie GmbH</span></li>
                <li>Karsten Kurth, <span class="it">Klimaschutzbeauftragter Stadtverwaltung  Weimar</span></li>
                <li>Werner Waschina, <span class="it">Stadtwerke Energie Jena-Pößneck GmbH</span></li>
            </ul>
            <h5>Konzept und Gestaltung</h5>
            <ul>
                <li>Dipl.-Des. Christopher Doering</li>
            </ul>
            <h5>Grafische Bearbeitung</h5>
            <ul>
                <li>Tine Papendick</li>
            </ul>
        </div>
    </div>
</section>