<div ng-controller="EditorCtrl as editor" class="Editor" height-like-window>
    <a ng-click="editor.selectZone()" class="btn btn-default">Select a zone</a>
    <a ng-click="editor.addNewLink()" class="btn btn-default">Add a new link</a>
    <div class="Editor__links">
        <div ng-repeat="marker in editor.markers" class="Editor__link" ng-class="{'active': map.markerIndexSelected == $index}">
            <form class="form">
                <div><a class="btn btn-danger btn-sm pull-right" ng-click="editor.removeLink(marker)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>
                <div ng-bind="marker.$$hashKey" ng-click="map.markerIndexSelected=$index"></div>
                <input type="text" ng-model="marker.href" placeholder="text" class="form-control" />
                <div class="row hidden">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">lat</span>
                            <input type="number" ng-model="marker.lat" class="form-control"  aria-describedby="basic-addon1" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="number" ng-model="marker.lng" class="form-control"  aria-describedby="basic-addon2" disabled>
                            <span class="input-group-addon" id="basic-addon2">lng</span>
                        </div>
                    </div>
                </div>
<!--                     <label>Limited for zoom: (comma separated)</label>
                    <input ng-model="marker.limited_to_zoom" ng-list> -->
            </form>
        </div>
    </div>
</div>