<div class="Navigation" class="transition">
    <!-- Imprint button -->
    <div class="info">
        <a class="transition cd-popup-trigger" ng-click="nav.openImprint()"><img width="12px" height="27px" src="assets/images/info.svg" alt="Info"/></a>
    </div>
    <div class="counter">
        {{ nav.info.stepIndex + 1 }} / {{ nav.steps.length }}
    </div>
    <!-- Timeline -->
    <div class="timeline">
        <div class="timeline-bar">
            <div
              class="timeline-marker"
              ng-repeat="step in nav.steps"
              ng-click="nav.goTo($index)"
              ng-style="nav.setMarkerStyle($index)"
              ng-class="{'active': $index === nav.info.stepIndex}">
                <div class="timeline-point"></div>
                <div class="toolbox">
                    <span>{{ step.shortName }} {{ step.chapter }}<br/>{{ step.subChapter }}</span>
                    <img width="130" height="90" src="assets/images/thumbnails/thumbnail.jpg" alt="thumbnail" />
                </div>
            </div>    
        </div>
    </div>
    <!-- Prev & Next buttons -->
    <div class="next-prev">
        <ul>
            <li class="prev"><a class="transition" ng-click="nav.previous()"><img width="26" height="17" src="assets/images/prev.svg" alt="Prev" /></a></li>
            <li class="next"><a class="transition" ng-click="nav.next()"><img width="26" height="17" src="assets/images/next.svg" alt="Next" /></a></li>
        </ul>
    </div>
</div>