<div class="Navigation">
    
    <div>
        <ul>
            <li
              ng-repeat="step in nav.steps"
              ng-click="nav.goTo($index)"
              title="{{ step.shortName }}"
              class="bullet"
              ng-class="{'active': $index === nav.info.stepIndex}"></li>
            <li><a ng-click="nav.previous()">&lt;</a></li>
            <li><a ng-click="nav.next()">&gt;</a></li>
        </ul>
    </div>
    <div>Current step: #{{ nav.info.stepIndex }}</div>
    <div>Short name: {{ nav.steps[nav.info.stepIndex].shortName }}</div>
</div>
