.Map {

    /* Change cursor when over entire map */
    .leaflet-container {
      cursor: crosshair !important;
    }
    .angular-leaflet-map {
        background-color: white;
    }
    .leaflet-div-icon,
    .leaflet-marker-icon {
        color:white;
        font-size: 4em;
        text-shadow: 0.1em 1px #333;
        background-color: transparent;
        border: 0px none;
        white-space: nowrap;
        height: auto !important;
        width: auto !important;
    }
    .link {
        background-image: url('../assets/images/link_normal.png');
        background-color: 'red';
        width: 40px;
        height: 40px;
        background-size: cover;
        &:hover {
            background-image: url('../assets/images/link_click_rollover.png');
        }
    }
}